<section class="home">
    <div class="container">
        <!-- <h3>Hello <%= username %></h3> -->
        <div class="row" style="width:100%">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div id="profile_home">
                    <!-- <div class="row"> -->
                    <img src="https://placehold.it/75/75" alt="">
                    <div id="users">
                        <div id="fullname">Ahmed Ibrahim</div>
                        <div id="username">@eka_developer</div>        
                    </div>
                    <!-- </div> -->
                    <div id="some_inf" class="row">
                        <div class="col-lg-4 col-sm-4">
                            Messages <br><span>15</span>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            Posts <br><span>15</span>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            Chats <br><span>15</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                <div class="container">
                    <div id="posts">
                        <div class="post">
                            <span class="qu">
                                When eating cereal with milk, do you pour the cereal or milk first?
                            </span>
                            <span class="time">
                                3 Hours Ago
                            </span>
                            <span class="an">
                                I love Blila
                            </span>
                            <div class="options">
                                <i class="fa fa-heart-o"></i>
                                <i class="fa fa-comment comment"></i>
                            </div>
                            <div class="comment-area" style="display:none">
                                <textarea name="comment" placeholder="Write your Comment"></textarea>
                                <button>Publish</button>
                            </div>
                            <hr>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>